.about {
  .header .shapes {
    top: 230px;
    background-position: center center;
  }
  .header-placeholder {
    height: 70px;
  }
  .header-image {
    height: 320px;
    background-image: url(/assets/img/plasma-bg.jpeg);
    background-position: center center;
    background-size: cover;

    h1 {
      margin: 0;
      font-size: 40pt;
      line-height: 320px;
      font-weight: 900;
    }
  }
  .content.container{
    padding: 100px 0;
  }
  p{
    line-height: 40px;
    font-size: 13pt;
    max-width: 900px;
    margin: 30px auto;
  }
}