{% set type = 'about' %}

{% set title = 'Tuned Rocks - Collection of Newest and Best Music Videos' %}
{% set metaDescription = 'Tuned is a nonstop music video streaming service. We play the best of Youtube, More than just sifting through and selecting videos, we curate your video needs!' %}
{% set metaKeywords = 'about us, tuned, tuned rocks' %}

{% extends 'base.twig' %}

{% block content %}
    <div class="header-placeholder"></div>
    <div class="text-center header-image">
        <h1>ABOUT US</h1>
    </div>

    <div class="content container text-center">
        <p>
            It shouldn’t surprise you to hear that Youtube is a massive archive of both great content and compete and utter trash.
            Finding the content you want is not always easy. That’s where Tuned comes in. More than just sifting through and selecting videos on Youtube, we curate your music video needs.
        </p>
        <p>
            Tuned tailors each music channel with the newest and best music videos on the web, in real time. We stream the best videos all day, every day. Play your genre favorites or let us show you the hottest new releases or the best classics. Tuned was founded in Finland in 2016 with private funds.
        </p>
        <p>
            It’s the brainchild of Joonas Nieminen who created and runs the site. Tuned was dreamt up to bring you the best online content, when you want it, where you want it.
            <br>Simple, fresh, fun.
        </p>
    </div>

{% endblock %}